<h1>{{title}}</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Swarm ID</th>
            <th>Endpoint ID</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        {{#each stacks}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.swarm_id}}</td>
            <td>{{this.endpoint_id}}</td>
            <td>{{this.created_at}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
