<h1>{{title}}</h1>
    <div>
        {{#each stacks}}
        <p>Stack Name: {{this.stack_name}}</p>
        <p>Created by: {{this.user_name}}</p>
        <p>Template: {{this.template_name}}</p>
        <p>Group: {{this.group_name}}</p>
        <p>{{formatDate this.creation_date}}</p>
        {{/each}}
    </div>

